/*mobile version*/
/*CV*/
.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.personalia {
    background-color: #e7e8ec;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    background-color: #faf8f8;
    width: 100%;
}

.person-logo {
    border: 4px solid black;
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
    width: 20%;
    animation: glow 3s ease alternate;
}

.person-characteristics {
    list-style-type: square;
}

table {
    border-collapse: inherit;
    border-spacing: 0 10px;
}


.profile-content {
    padding: 15px;
    font-size: 20px;
}

.profile-content__category-title {
    color: rgba(39, 140, 39, 0.96);
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    color: rgba(39, 140, 39, 0.96);
    margin-top: 0px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {

    .page {
        flex-direction: row;
    }

    .person-name {
        order: -1;
    }

    .personalia {
        width: fit-content;
    }

    .profile-content__category--hidden-mobile {
        display: flex;
        flex-direction: column;
    }

        /*fix: anders als stipje zichtbaar*/
        .profile-content__category--hidden-mobile hr {
            width: 100%;
        }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header {
        display: flex;
        justify-content: space-between;
    }

    .profile-content__period {
        font-size: 12px;
        color: #5c6166;
        display: flex;
    }
}


/*gdpr*/

.gdpr-consent__description {
    display: flex;
    justify-content: center;
}

.gdpr-consent__choice {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
}

.gdpr-consent__button--accept {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    color: white;
    border: 1px solid gray;
}

    .gdpr-consent__button--accept:hover {
        background-color: lawngreen;
    }

.gdpr-consent__button--reject {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    color: white;
    background-color: crimson;
}
.gdpr-consent__button--reject:hover {
    background-color: red;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*contact pagina*/
.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contactpagina__inputelement {
    display: flex;
    flex-direction: row;
    margin: 15px 0px 15px 0px
}

.fx-col {
    flex-direction: column;
}
/*Profiel pagina*/
.data-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns items to the top of the container */
    flex-wrap: wrap; /* Allows wrapping if there are too many items */
    height: 50vh; /* Upper half of the screen */
}

    .data-container .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 20px;
        padding: 10px;
    }

        .data-container .item .title {
            border-bottom: 1px solid black;
            padding-bottom: 5px;
            margin-bottom: 10px;
            width: 100%;
        }

        .data-container .item .data {
            padding-top: 5px;
        }
@media only screen and (min-width: 800px) {
}