@model Setup.Models.RegisterModel

<!DOCTYPE html>
<html>
<head>
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>

    <form asp-controller="Access" asp-action="Register" method="post">
        <div>
            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" required />
        </div>

        <div>
            <label for="Username">Username:</label>
            <input type="text" id="Username" name="Username" required minlength="3" maxlength="40" />
        </div>

        <div>
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" required minlength="8" maxlength="50" />
        </div>

        <div>
            <label for="VerifyPassword">Verify Password:</label>
            <input type="password" id="VerifyPassword" name="VerifyPassword" required />
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
        @if (ViewData["ValidateMessage"] != null)
        {
            <br />
            <br />
            <label>@ViewData["ValidateMessage"]</label>
        }
    </form>
</body>
</html>