@model Setup.Data.DamSpel

@{
    ViewData["Title"] = "Create";
}
@{
    string DammenNaam = String.Empty;
    if (Model != null)
    {
        DammenNaam = Model.SpelNaam != String.Empty ? Model.SpelNaam : String.Empty;
    }
}

<h1>Create</h1>

<h4>DamSpel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" action="/Dammen/Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpelNaam" class="control-label"></label>
                <input type="text" name="DamspelNaam" id="DamspelNaam" placeholder="Checkers is amazing!" required value="@DammenNaam" minlength="4">
            </div>
            <div class="form-group">
                <label>
                <input type="radio" name="color" value="black" checked>
                Black
                </label>
                <label>
                    <input type="radio" name="color" value="white">
                    White
                </label>
                <label>
                    <input type="radio" name="color" value="random">
                    Random
                </label>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
