@using System.Security.Claims;
@using Setup.Data;
@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@model IEnumerable<Setup.Data.DamSpel>

@{
    ViewData["Title"] = "Index";

}
<h1>Alle games</h1>
<h2>Hallo wereld</h2>
<div>
    <p data-cy="tweedeTekst">dit is een tweede tekst</p>
</div>
    <div id="error__message">
        
    </div>
<table class="table">
    <th>Spel naam</th>
    <th>Speler 1</th>
    <th>Speler 2</th>
    <th>Spel bekijken</th>
    <th>Spelen</th>
    <tbody id="game__lijst">
    </tbody>
</table>
<hr />
<div>
    <a asp-action="Create">Maak spel aan</a>
</div>
<hr />
<h2>Jouw games</h2>
<table class="table">
    <th>Spel naam</th>
    <th>Speler 1</th>
    <th>Speler 2</th>
    <th>Spel bekijken</th>
    <th>Spelen</th>
    <th>Verwijderen</th>
    <tbody id="eigen__game__lijst">
    </tbody>
</table>
@*putting scripts down here ensures all page information is loaded before scripts are executed*@
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.10/signalr.min.js"></script>
<script src="~/js/testing.js" asp-append-version="true"></script>
<script src="~/js/Dammen.js" asp-append-version="true"></script>