@model Setup.Data.DamSpel

@{
    ViewData["Title"] = "Spel";
}

<h1>View van het damspel @Model.SpelNaam</h1>

<div id="shadowHost"></div>


<script src="~/js/ShadowRoot/SRInit.js" asp-append-version="true"></script>
<script src="~/js/ShadowRoot/SRDambord.js" asp-append-version="true"></script>
<script src="~/js/ShadowRoot/SRChat.js" asp-append-version="true"></script>