<h1>Alle gebruikers</h1>
<table class="table">
    <th>Gebruiker</th>
    <th>Email</th>
    <th>Spellen gespeeld</th>
    <th>Spellen gewonnen</th>
    <th>Spellen verloren</th>
    <th>Win/Loss-ratio</th>
    <th>Rol</th>
    <th>Promoveren</th>
    <th>Verwijderen</th>
    <tbody id="user__lijst">
    </tbody>
</table>
<script src="~/js/Moderation.js" asp-append-version="true"></script>
<script>
    window.onload = function () {
        setCurrentUserRole('@ViewBag.User');
    };
</script>